option_settings:
  # Backend Encryption Policy
  aws:elb:policies:backendencryption:
    PublicKeyPolicyNames: backendkey
    InstancePorts:  443
  # Public Key Policy
  aws:elb:policies:backendkey:
    PublicKey: |
        -----BEGIN CERTIFICATE-----
        MIIGvzCCBKegAwIBAgIQYEyvqYhwqmgleQkzSW+ziTANBgkqhkiG9w0BAQwFADBL
        MQswCQYDVQQGEwJBVDEQMA4GA1UEChMHWmVyb1NTTDEqMCgGA1UEAxMhWmVyb1NT
        TCBSU0EgRG9tYWluIFNlY3VyZSBTaXRlIENBMB4XDTIzMDEwNjAwMDAwMFoXDTIz
        MDQwNjIzNTk1OVowRDFCMEAGA1UEAxM5bWFya2V0cGxhY2UtYmFja2VuZC1kZXYu
        ZXUtY2VudHJhbC0xLmVsYXN0aWNiZWFuc3RhbGsuY29tMIIBIjANBgkqhkiG9w0B
        AQEFAAOCAQ8AMIIBCgKCAQEA9GvHyI07Jab1g27JyGVA6J3k1wyWH/gx4ixpDAyw
        BVNgE92A/mRBDSVxlu7LtAvv6hkNmw8KKIvog1DmjermzVKTslH2WMht3P/RoJtz
        cJ9daVYP1VapxGSxVNQTy0UWqOKUhjwBTzZwY7LoIOqei+GCWjurE0f53AcNpVNM
        3vQxaEl5WMREkep+HJVYW6T6eAobcnEA9d1aKfAqmCs2w/LAzYp9aXj2KGIcrtKN
        AQCZGez1SW8IeavZ2szgV/seHSnin55E0F3AWvHRj1OX+7ceB3mxeqk24dq5gAT1
        a25ipVseILxRz+hdt/yp/K4xb9BhFNK3lLHe0dLBLPKPXwIDAQABo4ICpDCCAqAw
        HwYDVR0jBBgwFoAUyNl4aKLZGWjVPXLeXwo+3LWGhqYwHQYDVR0OBBYEFJYC48lA
        u45+Ws1CE0ICnKrTIBkUMA4GA1UdDwEB/wQEAwIFoDAMBgNVHRMBAf8EAjAAMB0G
        A1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjBJBgNVHSAEQjBAMDQGCysGAQQB
        sjEBAgJOMCUwIwYIKwYBBQUHAgEWF2h0dHBzOi8vc2VjdGlnby5jb20vQ1BTMAgG
        BmeBDAECATCBiAYIKwYBBQUHAQEEfDB6MEsGCCsGAQUFBzAChj9odHRwOi8vemVy
        b3NzbC5jcnQuc2VjdGlnby5jb20vWmVyb1NTTFJTQURvbWFpblNlY3VyZVNpdGVD
        QS5jcnQwKwYIKwYBBQUHMAGGH2h0dHA6Ly96ZXJvc3NsLm9jc3Auc2VjdGlnby5j
        b20wggEDBgorBgEEAdZ5AgQCBIH0BIHxAO8AdgCt9776fP8QyIudPZwePhhqtGcp
        Xc+xDCTKhYY069yCigAAAYWFrtE8AAAEAwBHMEUCIQDKSIFSk7SRJpbBPdCHlGcR
        xe5rmx2k1lp6PhDVD7AcoQIgG1GuOz05XY/2/v/hbIH0ncgAC5tkKlFfDTQqCi0X
        G1sAdQB6MoxU2LcttiDqOOBSHumEFnAyE4VNO9IrwTpXo1LrUgAAAYWFrtEDAAAE
        AwBGMEQCIE76yIPTAwc6meymhu/OgLcyPl0NaidM1nBA4rpdmzzTAiAUfL5ZqE3D
        xx182FuTrEDWR8bPZ+ABVRiqjremZn5LGDBEBgNVHREEPTA7gjltYXJrZXRwbGFj
        ZS1iYWNrZW5kLWRldi5ldS1jZW50cmFsLTEuZWxhc3RpY2JlYW5zdGFsay5jb20w
        DQYJKoZIhvcNAQEMBQADggIBAAn0Oa/jgLzYKzVORSG6DPbi8LgRCr5PX0e28Pkp
        gjgb5DXI9y5WkrpUz5N3AeUT344JWUv83vuNRrBWBVk1i+kjebUEEo3FpLenYr5k
        7BpuT2oVGdGztzpkNzFrMV2aKSHjZAFavLrX/9CHVTFgvdD9Ayp7+5pm2zqwqTUH
        488+JP+E66taGveSDJqLawGGImubcvmNggTQBenXAQnxznjZchrYqFtptjll+iVz
        NR0s2ETo9C96cSYlIioXLB+m2goK2OOTHEd1cZYhrRPVA4AAvN2WxRneUjVUIcM9
        5YEWrwz/L3J58ntT8LkDLHLZyDIv4bswgtEaDE+uXW/OPtiHUDPDIQjN2pmmkt2r
        zP+oK1ODqQSYtHUUpUYlICd46C54vb0bvAfyPP0bpfouCQYSNPN6Quq4rsVoZiGK
        y2eQoHVPEFlBbIHXDc4qCctt94CbK0evU1xmynAiMaQlh5SLWylzQUIpncpzE4gz
        HgvOH5LB7rz0oHfuaZxTeb+pz3095MDRy3F+FJ8OTyG8E7g9p5uCnmYRXXFn4UKn
        NFp73gE5HuXjhIX7EH5xUYF3BhhKP/DaGtUu1chMNitJHS4YZYNPG4NmKqDdJaVO
        SS2u9LGLRw/yuCITs9BZCAtUe4ipezTcSN8mdz+QAGRXGs11n1r/uBsOeSD7PGzj
        FGLU
        -----END CERTIFICATE-----
