option_settings:
  aws:elbv2:listener:443:
    SSLCertificateId: arn:aws:acm:eu-central-1:421280805936:certificate/bf837905-d3b5-4f13-a938-8411551943ce
    DefaultProcess: https
    ListenerEnabled: 'true'
    Protocol: HTTPS
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: HTTPS:443/